.code-dark-icon {
  display: inline-block;
  height: 50px;
  width: 49.5px;
  background: url('code-dark.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
  background-position: 0 0;
  transition: background-position 0.5s ease-in-out;
}
.codeDARK .code-dark-icon {
  background-position: -50px 0;
}
.codeDARK {
  background: #000 !important;
  color: #fff !important;
}
.codeDARK img {
  filter: brightness(.8) contras t(1.2);
}